# Number of gravestones to spawn, set to 0 to disable
gravestoneCount=30
# Number of guardians spawned per gravestone
guardianCount=5
# Chance of guardians being champions, 1/n
guardianChamps=3
# Evil Tree combat stats
evilTreeCR=14
evilTreeDamage=15
evilTreeArmor=0.6
# Pumpkin Monster combat stats
pumpkinMonsterCR=12
pumpkinMonsterDamage=10
pumpkinMonsterArmor=0.7
# Jack O Spider combat stats
jackOSpiderCR=12
jackOSpiderDamage=20
jackOSpiderArmor=0.8
# Achievement and title IDs
pumpkinKillerAchId=4100
treeKillerAchId=4101
gravestoneLooterAchId=4102
spiderKillerAchId=4103
pumpkinSmasherTitleId=5100
graveRobberTitleId=5101
# Allow crafting pumpkin helmets by players
craftablePumpkinHelm=true
# Allow crafting magic skull candles by players
craftableMagicCandle=true
# brooms can drop from investigating gravestones
lootableBrooms=true
# Older versions of this mod had slate skull masks that use oleanderwood material in vanilla wurm
# If enabled this setting will convert all the slate masks in the database on startup
# You can disable it after first run or if you never used this mod before WU 1.9
updateMaskMaterials=true
